
@{
    ViewBag.Title = "Error404";
}

<div class="container mt-5">
    <div class="row  p-5">
        <div class="col-12 text-center font-weight-bold backgroundWhite">
            <p class="titleError404">
                404<br/>ERROR
            </p>
            <p class="texteError404">
                LA PAGE QUE VOUS CHERCHEZ NE SE<br /> TROUVE PAS SUR LE SITE OU N'EXISTE PLUS
            </p>
        </div>
    </div>
</div>


